body{
    margin: 0;
    padding: 0;
    background-color: #B1A3AF;
}

.title{
    font-size: 40px;
    background-color: #43133C;
    color: white;
}

.wrapper-li{
    text-align: center;
    padding: 30% 0;
}
